version: 2.1
# Python Orbを使用
orbs:
  python: circleci/python@2.0.3
# AWS Cli Orbを使用
  aws-cli: circleci/aws-cli@5.4.1
# ansible-playbook Orbを使用
  ansible-playbook: orbss/ansible-playbook@0.0.5

jobs:
  cfn-lint:
    executor: python/default
    steps:
      - checkout
      - run: pip install cfn-lint
      - run:
          name: run cfn-lint
          command: |
            cfn-lint -i W3002 W1011 -t templates/*.yml
  
  execution-cloudformation:
    executor: aws-cli/default
    steps:
      - checkout
  # AWS認証（CircleCI環境変数を自動で使用）
      - aws-cli/setup:
          aws_access_key_id: AWS_ACCESS_KEY_ID
          aws_secret_access_key: AWS_SECRET_ACCESS_KEY
          region: AWS_DEFAULT_REGION

  # AWS 認証確認
      - run:
          name: Check AWS Identity
          command: aws sts get-caller-identity

  # CloudFormation 実行
      - run:
          name: Deploy CloudFormation
          command: |
            aws cloudformation deploy \
              --template-file templates/multi-resource.yml \
              --stack-name circleci-cfn \
              --capabilities CAPABILITY_NAMED_IAM \
              --parameter-overrides \
                  DBUsername=${DB_USER} \
                  DBPassword="${DB_PASSWORD}"

  execution-ansible:
    executor: ansible-playbook/default          
 

workflows:
  raisetech:
    jobs:
      - cfn-lint
      - execution-cloudformation:
          requires:
            - cfn-lint